.form-wrapper {
  margin: 100px 0;
}
.form {
  text-align: center;
}
.form-input {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

/* drinks */

.cocktail {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  margin: 20px 0;
}

.drinks-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.cocktail-container {
  margin: 26px 0;
}

.drink-img {
  display: block;
  width: 300px;
  border-radius: 5px;
  margin: 0 auto;
}

.cocktail-txt-wrapper {
  text-align: left !important;
  padding-left: 40px;
}

.drink-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 10px;
}

.drink-glass {
  font-weight: 400;
}

.drink-type {
  margin-top: 5px;
  margin-bottom: 16px;
}

.details-btn {
  background-color: var(--themeClr);
  color: #ebebeb;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.details-btn:hover {
  background-color: green;
}

@media screen and (min-width: 768px) {
  .drinks-center {
    flex-direction: row;
    justify-content: space-between;
  }
  .cocktail {
    flex: 0 0 calc(33.33% - 16px);
  }
}
